<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <meta property="og:image" content="{{ site.url }}/{{ site.profile_logo }}" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.profile_logo %}
          <a href="{{ "" | absolute_url }}"><img src="{{site.profile_logo | relative_url}}" alt="Profile Logo" /></a>
        {% endif %}
        <p id="follow-me">
          <ul class="downloads">
            <li><a href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><strong>Twitter</strong> Profile</a></li>
            <li><a href="{{ site.linkedin_url }}" target="_blank"><strong>Linkedin</strong> Profile</a></li>
            <li><a href="{{ site.github.owner_url }}" target="_blank"><strong>GitHub</strong> Profile</a></li>
          </ul>
        </p>
      </header>
      <section id="body">
        <h1>{{ site.home_page_title }}</h1>
        <h4>{{ site.home_page_text }}</h4>
        <p>{{ site.home_page_description }}</p>
        <hr>
        {% for section in site.landing.sections %}
        <div id="section-{{ section.id }}">
          <h3>{{ section.title }}</h3>
          {% if section.description %}
          <p id="section-description-{{ section.id }}">{{ section.description }}</p>
          {% endif %}
          {% if section.layout == "list" %}
          <ul>
          {% for content in section.contents %}
            <li>
              <a href="{{ content.url }}">{{ content.title }}</a>
              {% if content.description %}
              : {{ content.description }}
              {% endif %}
              {% if content.date %}
              <br><small>On {{ content.date }}</small>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          {% endif %}
          {% if section.layout == "table" %}
          <table>
            <tr>
              <td style="text-align: left"><a href="{{ content.url }}">{{ content.title }}</a></td>
              <td style="text-align: left">
              {% if content.description %}
              {{ content.description }}
              {% endif %}
              {% if content.date %}
              <br><small>On {{ content.date }}</small>
              {% endif %}
              </td>
            </tr>
          </table>
          {% endif %}
        </div>
        <hr>
        {% endfor %}
        <div id="section-open-source-projects">
          <h3>Open Source Projects</h3>
          <ul>
          {% for repository in site.github.public_repositories %}
            {% if repository.name == "visualize-gitlabci" or repository.name == "wp-vulnerability-check" or repository.name == "php-docker-images-for-ci" or repository.name == "PHPCS_Coercive_Standards" or repository.name == "gitlabci-npm-audit-script" %}
            <li>
              <a href="{{ repository.html_url }}" target="_blank">
                {{ repository.name }}
              </a>: {{ repository.description }}
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        <hr>
        <div id="section-contributions">
          <h3>Github Contributions</h3>
          <ul>
            {% for repository in site.github.public_repositories %}
            {% if repository.fork %}
            <li>
              <a href="{{ repository.html_url }}" target="_blank">
                {{ repository.name }}
              </a>: {{ repository.description }}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </p>
        <hr>
        <p>
          <blockquote>          
          <p>
            "There are two kinds of people: one, the one who teaches; other, the one who learns. Choose whichever you want to be. Tell me clearly. Be one of them and avoid the third."
          </p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Y%C5%ABsuf_Balasaguni" target="_blank">Yusuf Has Hacib</a> in his ancient book <a href="https://en.wikipedia.org/wiki/Kutadgu_Bilig" target="_blank">Kutadgu Bilig</a>.
          </p>
        </blockquote>
        </p>
        <p><hr></p>
        {% if site.logo %}
        <p id="awesome-logo" style="text-align: right;">
          <a href="https://github.com/umutphp/logo" target="_blank">
            <img src="{{site.logo | relative_url}}" width="24" height="24" alt="UmutPHP's awesome logo" />
          </a>
        </p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </section>
      <footer></footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
  </body>
</html>
